* {
	box-sizing: border-box;
}

@font-face {
    font-family: didot;
    src: url(../fonts/"didot.ttc");
}

body {
	margin: 0;
}

.wrapper {
	width: 100%;
/*	height: 800px;*/
	background:white;
}

.navbar {
	width: 100%;
	height: 100px;
	background:white;
	position: fixed;
}

.title {
	font-size: 60px;
	color: black;
	font-family: didot;
	padding-top: 24px;
	padding-left: 45%;
	text-decoration: none;
}

.about {
	width: 80%;
	height: 650px;
	background:transparent;
	margin: 0 auto;
	padding-top: 65px;
}

.left {
	width: 339.333px;
	height: 450px;
	background: transparent;
	margin-top: 80px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	position: fixed;
}

.right {
	width: 678.666px;
	height: 650px;
	background: transparent;
	margin-top: 80px;
	margin-left: 50%;
}

.photo{
	width: 600px;
	height: 400px;
	margin-bottom: 20px;

}

.one {
	background-image: url(../img/oculus/oculus_1.png);
	background-size: cover;
}

.two {
	background-image: url(../img/oculus/oculus_2.png);
	background-size: cover;
}

.three {
	background-image: url(../img/oculus/oculus_3.png);
	background-size: cover;
}

.four {
	background-image: url(../img/oculus/oculus_4.png);
	background-size: cover;
}

.five {
	background-image: url(../img/oculus/oculus_5.png);
	background-size: cover;
}

.six {
	background-image: url(../img/oculus/oculus_6.png);
	background-size: cover;
}





