* {
	box-sizing: border-box;
}

@font-face {
    font-family: didot;
    src: url(../fonts/"didot.ttc");
}

body {
	margin: 0;
}

.wrapper {
	width: 100%;
/*	height: 800px;*/
	background:white;
}

.navbar {
	width: 100%;
	height: 100px;
	background:white;
	position: fixed;
}

.title {
	font-size: 60px;
	color: black;
	font-family: didot;
	padding-top: 24px;
	padding-left: 45%;
	text-decoration: none;
}

.about {
	width: 120px;
	height: 645px;
	background:white;
	position: fixed;
}

.about_text {
	font-size: 50px;
	color: black;
	font-family: didot;
	text-decoration: none;
	transform: rotate(-90deg);
	margin-top: 87px
}

.about_text:hover {
	text-decoration: line-through;
}

.contact {
	width: 120px;
	height: 645px;
	background:white;
	position: fixed;
	right: 0;	
}

.contact_text {
	font-size: 50px;
	color: black;
	font-family: didot;
	text-decoration: none;
	transform: rotate(90deg);
	margin-top: 61px
}

.contact_text:hover {
	text-decoration: line-through;
}

.tiles {
	width: 80%;
/*	height: 1000px;*/
	margin: 0 auto;
	background:white;
	padding: 10px;
	padding-top: 100px;
}

.project {
	width: 329.5px;
	height: 329.5px;
	background-color: transparent;
	display: inline-block;
	margin: 0 auto;
}

.project:hover {
	background-position: 100% 50%;
}

.sports {
	background-image: url(../img/sp_cards.png);
	background-size: cover;
	background-position: 0% 50%; 
}

.type {
	background-image: url(../img/typeface.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.oculus {
	background-image: url(../img/oculus.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.pigs {
	background-image: url(../img/pigs.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.brown {
	background-image: url(../img/brown.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.cathedral {
	background-image: url(../img/cathedral.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.qb {
	background-image: url(../img/qb.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.hands {
	background-image: url(../img/hands.png);
	background-size: cover;
	background-position: 0% 50%;; 
}

.visual_poetry {
	background-image: url(../img/visual_poetry.png);
	background-size: cover;
	background-position: 0% 50%;; 
}




