* {
	box-sizing: border-box;
}

@font-face {
    font-family: didot;
    src: url(../fonts/"didot.ttc");
}

body {
	margin: 0;
}

.wrapper {
	width: 100%;
/*	height: 800px;*/
	background:white;
}

.navbar {
	width: 100%;
	height: 144px;
	background:white;
	position: fixed;
}

.title {
	font-size: 60px;
	color: black;
	font-family: didot;
	padding-top: 24px;
	padding-left: 45%;
	text-decoration: none;
}

.about {
	width: 80%;
	height: 650px;
	background:transparent;
	margin: 0 auto;
	padding-top: 65px;
}

.left {
	width: 339.333px;
	background: transparent;
	margin-top: 80px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	position: fixed;
	padding-bottom: 30px;
	padding-top: 10px;
}

.left h1 {
	font-family: times;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 15px;
}

.left p {
	font-family: times;
	font-size: 13.5px;
}

<<<<<<< HEAD
.left a {
	text-decoration: underline;
}

.left a:hover {
	text-decoration: none;
}

=======
>>>>>>> b7099c1bb0cced7ec9b97eae8d5bbd6cf81df1e7
.right {
	width: 678.666px;
	height: 650px;
	background: transparent;
	margin-top: 80px;
	margin-left: 50%;
}

.photo{
	width: 600px;
	height: 320px;
	margin-bottom: 60px;

}

.one {
	background-image: url(../img/visual_poetry/visual_poetry_01.png);
	background-size: cover;
}

.two {
	background-image: url(../img/visual_poetry/visual_poetry_02.png);
	background-size: cover;
}

.three {
	background-image: url(../img/visual_poetry/visual_poetry_03.png);
	background-size: cover;
}

.four {
	background-image: url(../img/visual_poetry/visual_poetry_04.png);
	background-size: cover;
}


